<p>Datos de Peliculas</p>

<button (click)="clickBoton()">Botón</button>
<!-- <h4>Implementación clasica con ngFor</h4>

  <div *ngFor="let pelicula of peliculas; let indice = index">
    <p>{{indice + 1}} {{pelicula.titulo | uppercase}}</p>

    <p>{{pelicula.fechaLanzamiento | date: "dd-MMMM-yyyy"}}</p>

    <p>{{ pelicula.precio | currency: '$' :'US'}}</p>

  </div> -->

<app-listado-peliculas [peliculas]="peliculasEncines"></app-listado-peliculas>

<h2>Proximos Estrenos</h2>

<app-listado-peliculas [peliculas]="peliculasEncines"></app-listado-peliculas>
